body{
    color: white;
    background: black;
    margin: 0;
}
#big{
    background: blue;
    width: 800px;
    height: 600px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-flex;
}
#small{
    width: 40px;
    height: 40px;
    position: relative;
}
input{
    background: white;
    border: 0px;
    font-size: 15px;
    margin: 3px;
    width: 100px;
    height: 30px;
}
#check{
    width: 15px;
    height: 15px;
}
#gora{
    margin-left: 112px;
}

.boxers{
    width: 20px;
    height: 100px;
    display: inline-flex;
    background-color: white;
}
#leftBox{

}
#rightBox{

}