:root{
    --common: #0ff;
    --uncommon: #f00;
    --rare: #0f0;
    --legendary: #ff0;
}
body{
    background-color:#222;
    margin: 0;
    color: white;
    font-weight: 900;
    font-family: Century Gothic;
    overflow-x:hidden;
}



.tutoriel div, .select, .przycisk, .inside1, .inside2, .kolko, .reset, .button div{
    cursor: pointer;
}

.tutoriel, .tutoriel div, .money, .money div, .menu, .bet, .bet div, .inside1, .kolko, .wskaznik, .tabelka, .reset, #txt{
    display: flex;
    justify-content: center;
}

.tutoriel div{
    width: 300px;
    background-color: #ccc;
    color: #000;
    border-radius: 45px;
    height: 50px;
    align-items: center;
    margin-top: 20px;
}

.money div{
    width: 300px;
    background-color: #555;
    border-radius: 45px;
    height: 50px;
    align-items: center;
    margin-top: 20px;
}

.select{
    margin: 20px;
    background-color: #555;
    padding: 10px;
    border-radius: 10px;
}

.bet div{
    align-items: center;
    padding: 10px;
    background-color: #888;
    width: 300px;
    height: 50px;
    border-radius: 30px;
}


.przyciski{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap:wrap;
}
.przycisk{
    margin: 10px;
    margin-top: 20px;
    display: flex;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    align-items: center;
    transition-duration: 0.5s;  
}
.przycisk:hover{
    margin-top: 0;
}
.inside1{
    border-radius: 28px;
    background-color: black;
    height: 60px;
    width: 60px;
    align-items: center;
}
.inside2{
    display: flex;
    margin-left: 30px;
    color: black;
}

#common{
    color: var(--common);
}
#common2{
    background-color: var(--common);
}
#uncommon{
    color: var(--uncommon);
}
#uncommon2{
    background-color: var(--uncommon);
}
#rare{
    color: var(--rare);
}
#rare2{
    background-color: var(--rare);
}
#legendary{
    color: var(--legendary);
}
#legendary2{
    background-color: var(--legendary);
}


.kolko{
    margin-bottom: 0;
    transition-duration: 7s;
}

.wskaznik div{
    margin-top: 0;
    width: 2px;
    height: 20px;
    background-color: #fff;
}

.tabelka{
    margin-top: 50px;
}

.tabelka table{
    border: 1px solid #fff;
    padding: 0;
    font-family: Comic Sans MS;
    font-weight: normal;
}
.tabelka td{
    border: 1px solid #fff;
    width: 100px;
    text-align: center;
}

.reset{
    margin-top: 10px;
}
.reset div{
    background-color: #555;
    border-radius: 20px;
    padding: 10px;
}
.komuikat{
    margin: 0;
    display: none;
    justify-content: center;
    align-content: space-around;
}
.popapa{
    background-color: rgba(122,122,122,0.5);
    width: 100%;
    height: 150%;
    position:absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.komunikator{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    width: 70%;
    border-radius: 35px;
    top: 45%;
}

#txt{
    margin: 20px 20px;
    margin-top: 40px;
}
.button{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.button div{
    background-color: wheat;
    border-radius: 35px;
    color: black;
    margin: 1% 0;
    padding: 5px;
}

.historia{
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    height: 100%;
    z-index: 1;
}
.historiaIn{
    margin: 10px 0;
    margin-left: 20px;
    background-color: black;
    height: 20px;
    width: 20px;
    border: solid 1px white;
    transition-duration: 0.5s;
}
